@model Car_Rental.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fabrication_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabrication_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acceleration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acceleration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransmisionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransmisionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClimateControll)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClimateControll)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
