@model IEnumerable<Reservation>;

<head>
    <title> Reservations </title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="card mx-auto" style="max-width: 80rem;">
            <div class="card-header mb-3" style="text-align: center;background-color: white; font-weight: bold;
            font-size:18px;">
                <span>Reservation History</span>
            </div>
            <div class="card-body">
                <!--Flash messages-->
                @if (ViewBag.Flag == 1)
                {
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                }
                else if (ViewBag.Flag == 0)
                {
                    <div class="alert alert-danger">
                        @ViewBag.Message
                    </div>
                }
                <!--End flash-->

                <!--History Table -->
                <div class="table-responsive">
                    <table id="example" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Car</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var reservation in Model)
                            {
                            <tr>
                                <th scope="row">@reservation.Reservation_ID</th>
                                <td>@reservation.Customer.FirstName</td>
                                <td>@reservation.Customer.LastName</td>
                                <td> @reservation.Car.Model</td>
                                <td> @reservation.Status.Name</td>
                                <td>
                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                            data-bs-target="#details-@reservation.Reservation_ID">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                            data-bs-target="#rate-@reservation.Reservation_ID">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                            data-bs-target="#edit-@reservation.Reservation_ID">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#delete-@reservation.Reservation_ID">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>

                            <!--Details modal-->
                            <div class="modal fade" id="details-{{ reservation.getIdReservation() }}"
                                 data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Reservation Details</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!--Reservation details-->
                                            <div class="container-fluid">
                                                {% set difference = date(reservation.getReturnDate()).diff(date(reservation.getPickUpDate())) %}
                                                {% set rentTime = (difference.days * 24) + difference|date('%h') %}
                                                <div class="row mb-2" style="text-align: center; font-size: xx-large">
                                                    <i class="fas fa-car"></i>
                                                </div>

                                                <div class="row mb-4">
                                                    <div class="col-4">
                                                        <span style="font-weight: bold">Brand: </span>
                                                        {{ reservation.getIdCar().getIdBrand().getName() }}
                                                    </div>
                                                    <div class="col-4">
                                                        <span style="font-weight: bold">Model: </span>
                                                        {{ reservation.getIdCar().getIdModel().getName() }}
                                                    </div>
                                                    <div class="col-4">
                                                        <span style="font-weight: bold">Price/Hour: </span>
                                                        ${{ reservation.getIdCar().getPriceHour() }}
                                                    </div>
                                                </div>

                                                <div class="row mb-2" style="text-align: center; font-size: xx-large">
                                                    <i class="bi bi-calendar-day-fill"></i>
                                                </div>

                                                <div class="row mb-4">
                                                    <div class="col-4">
                                                        <span style="font-weight: bold">Pick-up date: </span>
                                                        {{ reservation.getPickUpDate()|format_datetime('short',
                                                            'none', locale='ro') }}
                                                    </div>
                                                    <div class="col-4">
                                                        <span style="font-weight: bold">Return date: </span>
                                                        {{ reservation.getReturnDate()|format_datetime('short',
                                                            'none', locale='ro') }}
                                                    </div>
                                                    <div class="col-4">
                                                        <span style="font-weight: bold">Left time: </span>
                                                        {% if(reservation.getPickUpDate()|date('Y-m-d H:i:s') >= ("now"|date('Y-m-d H:i:s'))) %}
                                                        {{ rentTime }} hours
                                                        {% else %}
                                                        {% if reservation.getReturnDate()|date('Y-m-d H:i:s') >= ("now"|date('Y-m-d H:i:s')) %}
                                                        {% set currDateTime = date("now"|date('Y-m-d H:i:s')) %}
                                                        {% set currDifference = date(reservation.getReturnDate()).diff(currDateTime) %}
                                                        {% set currRentTime = (currDifference.days * 24) + currDifference|date('%h') %}

                                                        {{ currRentTime }} hours
                                                        {% else %}
                                                        {{ 0 }} hours
                                                        {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <div class="row mb-2" style="text-align: center; font-size:
                                                      xx-large">
                                                    <i class="bi bi-bag-check-fill"></i>
                                                </div>

                                                {% set sumFee = 0 %}
                                                <div class="row mb-4">
                                                    <div class="col-4">
                                                        <span style="font-weight: bold">Payment Method: </span>
                                                        {{ reservation.getIdPayment().getName() }}
                                                    </div>
                                                    <div class="col-4">
                                                        <span style="font-weight: bold">Coupon discount: </span>
                                                        {% if(reservation.getIdCoupon() == null) %}
                                                        Empty
                                                        {% else %}
                                                        {{ reservation.getIdCoupon().getDiscount() }} %
                                                        {% endif %}
                                                    </div>
                                                    {% if reservationsFees == null %}
                                                    <div class="col-4">
                                                        <span style="font-weight: bold">Fee: </span>
                                                        No fee
                                                    </div>
                                                    {% else %}
                                                    {% for reservationFee in reservationsFees %}
                                                    {% if reservation.getIdReservation() == reservationFee.getIdReservation().getIdReservation() %}
                                                    {% set sumFee = sumFee + (reservationFee.getIdFee().getAmount() * reservationFee.getHours()) %}
                                                    {% endif %}
                                                    {% endfor %}
                                                    <div class="col-4">
                                                        <span style="font-weight: bold">Fee: </span>
                                                        ${{ sumFee }}
                                                    </div>
                                                    {% endif %}
                                                </div>

                                                {% set reservationPrice = reservation.getIdCar().getPriceHour() * rentTime %}
                                                {% set discountedAmount = 0 %}
                                                {% if reservation.getIdCoupon() != NULL %}
                                                {% set discountedAmount = (reservationPrice) * reservation.getIdCoupon().getDiscount()/100 %}
                                                {% endif %}
                                                {% set totalPrice = reservationPrice + sumFee - discountedAmount %}
                                                <div class="row" style="text-align: center; font-size: xx-large">
                                                    <span>
                                                        ${{ reservationPrice }}
                                                        {% if sumFee != 0 %}
                                                        + ${{ sumFee }} (fee)
                                                        {% endif %}
                                                        -
                                                        ${{ discountedAmount }}(discount)
                                                        = <span style="font-weight: bold">${{ totalPrice }}</span>
                                                    </span>
                                                </div>
                                                <!--End details-->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End modal-->
                          
                            <!--Edit modal-->
                            <div class="modal fade" id="edit-{{ reservation.getIdReservation() }}"
                                 data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Edit Reservation</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form method="post" action="{{ path('EditReservation') }}">
                                            <div class="modal-body">
                                                <input type="hidden" id="reservationId" name="reservationId" value="{{ reservation.getIdReservation() }}">

                                                <div class="form-group mb-2">
                                                    <label for="pickUpDate">Pick-Up Date</label>
                                                    <input name="pickUpDate" type="datetime-local" class="form-control" {{ restrictEdit }} id="pickUpDate" value="{{ reservation.getPickUpDate().format('Y-m-d\\TH:m') }}" required="true">
                                                </div>
                                                <div class="form-group mb-2">
                                                    <label for="returnDate">Return Date</label>
                                                    <input name="returnDate" type="datetime-local" class="form-control" {{ restrictEdit }} id="returnDate" value="{{ reservation.getReturnDate().format('Y-m-d\\TH:m') }}" required="true" aria-describedby="editMessage"></input>
                                                    <div id="editMessage" class="form-text">{{ editMessage }}</div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" {{ restrictEdit }} class="btn btn-success">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--End edit-->
                           
                            <!--Rate modal-->
                            <div class="modal fade" id="rate-{{ reservation.getIdReservation() }}"
                                 data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Edit Reservation</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form method="post" action="{{ path('RateReservation') }}">
                                            <div class="modal-body">
                                                <input type="hidden" id="reservationId" name="idReservation" value="{{ reservation.getIdReservation() }}">

                                                <div class="form-group mb-2">
                                                    <input type="range" class="form-range" name="ratePoints" value="0" min="0" max="5" oninput="this.nextElementSibling.value = this.value">
                                                    <output style="font-weight: bold;font-size: xx-large; display: block; width:100%; text-align:center;">0</output>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!--Delete confirmation modal-->
                            <div class="modal fade" id="delete-{{ reservation.getIdReservation() }}"
                                 data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Cancel Reservation</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>
                                                Are you sure you want to cancel the reservation with the id <span style="font-weight: bold">{{ reservation.getIdReservation() }}</span>?
                                            </h6>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <a type="button" class="btn btn-danger"
                                               href="{{ path('CancelReservation', {id:reservation.getIdReservation()}) }}">Confirm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End modal-->
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <!--End Table-->
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}
